<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://img.ibxk.com.br/ms/images/highlights/000/049/967/47138.jpg"
      cardTitle="NOVO FILME DOS MARVELS"
      cardDescription="Marvel studios anuncia novo filme dos marvels."
    >
    </app-big-card>

    <app-big-card
    photoCover="https://th.bing.com/th/id/OIP.FSxu4fvyJgbvZTy4AjPq5gHaEK?pid=ImgDet&rs=1"
    cardTitle="NOVIDADES DO HOMEM DE FERRO 4."
    cardDescription="Marvel studios anuncia novo filme do home de ferro. "
    >
  </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://th.bing.com/th/id/OIP.DH-1OlvqvQTzhfnp5OKNCAHaD4?pid=ImgDet&rs=1"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Novo filme do pantera negra lançado em breve"
      photoCover="https://images.alphacoders.com/902/thumb-1920-902378.jpg"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Novo filme dos X-men está em pós produção, afirma diretor"
      photoCover="https://th.bing.com/th/id/OIP.SXgEGD-DJnNxZRVIYkAysgHaEk?pid=ImgDet&rs=1"
    ></app-small-card>
  </div>
</div>

<h1>NOVIDADES</h1>
<hr>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
