body {
  height: 200vh;
}

div {
  margin-bottom: 30px;
}

.exemplo {  
  width: 300px;
  height: 300px;  
  background-image: url('../../imagens/geometria.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 15px dashed palegreen;
  padding: 30px;
}

.exemplo2 {  
  width: 300px;
  height: 300px;  
  border: 15px dashed palegreen;
  color: white;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 900;
  background-color: purple;
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p2/102800-fundo-de-explosao-colorido-com-estrelas-vetor.jpg'); 
  background-blend-mode: lighten; /*mesclagem de cores:  multiply, screen, overlay, darken, lighten, color-dodge, color-burn, hard-light, soft-light, difference, exclusion, hue, saturation, color, luminosity */  
}

.exemplo3 {  
  width: 300px;
  height: 300px;  
  border: 15px dashed palegreen;
  color: white;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 900;
  border-radius: 10px/50px;

  background: 
  url('../../imagens/geometria.jpg') /* image */ 
  top center / 200px 200px  /* position / size */
  no-repeat /* repeat */
  fixed /*attachment*/
  padding-box /*origin*/
  content-box /*clip*/
  red /* color */
  ;
}

/* valor padrão*/
#padding-box {
  background-origin: padding-box;
}

/* imagem do fundo começa da esquerda*/
#border-box {
  background-origin: border-box;
}

/* imagem do fundo começa da esquerda, mas não cobre toda área, cobre somente a área do conteúdo */
#content-box {
  background-origin: content-box;
}

#clip-padding-box {
  background-clip: padding-box;
}

#clip-padding-box {
  background-clip: padding-box;
}

/* a cor do fundo preenche todo espaço */
#clip-border-box {
  background-clip: border-box;
}

/* não preenche todo fundo */
#clip-content-box {
  background-clip: content-box;
}

#text {
  -webkit-background-clip: text;
  color: transparent;
  border: 5px solid black;
  background-clip: text;
}