<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<app-poke-card
  name="charmander"
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif"
>
</app-poke-card>

<app-poke-card
  name="Dragonite"
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/dragonite.gif"
>
</app-poke-card>

<app-poke-card
  name="chikorita"
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/chikorita.gif"
>
</app-poke-card>

<app-poke-card
  name="chimchar"
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/chimchar.gif"
>
</app-poke-card>

<app-poke-card
  name="articuno"
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/articuno.gif"
>
</app-poke-card>